@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  ::after,
  ::before {
    @apply transition-colors duration-300 ease-in-out;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
  }
}

.navbar-link {
  @apply px-4 py-2 rounded-xl border border-purple-500
         text-purple-500
         hover:bg-purple-500/10 hover:text-purple-600
         dark:text-purple-300 dark:border-purple-400
         dark:hover:bg-purple-400/20 dark:hover:text-purple-200
         transition;
}

.navbar-link.active {
  @apply bg-purple-500/10 text-purple-600 border-purple-500
         dark:bg-purple-400/20 dark:text-purple-200;
}

.sidebar-link {
  @apply px-3 py-2 rounded-lg text-gray-700 dark:text-gray-300
   hover:bg-gray-100 dark:hover:bg-gray-700 
   transition-colors;
}

.sidebar-link.active {
  @apply bg-gray-200 dark:bg-gray-700 font-medium;
}

button {
  cursor: pointer;
}
